body{
    background-color: #8282b6;
    padding-top: 100px;
    margin: 0;
}

.menu-container{
    position: relative;
}
.menu{
    position: absolute;
    left: 0px;
    top: -200px;
    height: 100px;
    width: 100%;
    background-color: #ebc8ff;
    padding: 10px;
    box-sizing: border-box;
    transition: top 0.5s ease;
    border: #c673f7 3px solid;
}
.menu-toggle{
    position: fixed;
    top: 0px;
    right: 470px;
    z-index: 1;
    color: #25f7b8;
    cursor: pointer;
    font-size: 25px;
    transition: top 0.5s ease;
}
.menu.open{
    top: -100px;
}
.menu-toggle.open{
    top: 80px;

}
.mold{
    background-color: #bbbbbb;
    border: 1px solid #000000;
    border-radius: 45%;
    width: 30px;
    height: 15px;
    display: inline-block;
    margin: 0px 20px 10px 0;
}
.b1{
    background-color:#f4faa4 ; 
}
.morningbtn{
    border-radius: 50%;
    background-color: #3b3b3b;
    width: 11px;
    height: 11px;
    position: relative;
    top: -1px;
    left: 2px;
    cursor: pointer;
    transition: left 0.3s ease;
}
.morningbtn.open{
    left: 18px;
}
.b5{
    background-color:#c76fe2 ;
}
.eveningbtn{
    border-radius: 50%;
    background-color: #3b3b3b;
    width: 11px;
    height: 11px;
    position: relative;
    top: -1px;
    left: 2px;
    cursor: pointer;
    transition: left 0.3s ease;

}
.eveningbtn.open{
    left: 18px;
}
.b2,.b3,.b4{
    background-color: #dda26a;
}
.wa2{
    border-radius: 50%;
    background-color: #3b3b3b;
    width: 11px;
    height: 11px;
    position: relative;
    top: -1px;
    left: 2px;
    cursor: pointer;
    transition: left 0.3s ease;

}
.wa2.open{
    left: 18px;
}
.b6{
    background-color: #ff0095;
}
.errandbtn4{
    border-radius: 50%;
    background-color: #3b3b3b;
    width: 11px;
    height: 11px;
    position: relative;
    top: -1px;
    left: 2px;
    cursor: pointer;
    transition: left 0.3s ease;

}
.errandbtn4.open{
    left: 18px;
}
.errandbtn5{
    border-radius: 50%;
    background-color: #3b3b3b;
    width: 11px;
    height: 11px;
    position: relative;
    top: -1px;
    left: 2px;
    cursor: pointer;
    transition: left 0.3s ease;

}
.errandbtn5.open{
    left: 18px;
}
.errandbtn6{
    border-radius: 50%;
    background-color: #3b3b3b;
    width: 11px;
    height: 11px;
    position: relative;
    top: -1px;
    left: 2px;
    cursor: pointer;
    transition: left 0.3s ease;

}
.errandbtn6.open{
    left: 18px;
}
.b7,.b8,.b9{
    background-color: #008383;
}
.wa4{
    border-radius: 50%;
    background-color: #3b3b3b;
    width: 11px;
    height: 11px;
    position: relative;
    top: -1px;
    left: 2px;
    cursor: pointer;
    transition: left 0.3s ease;

}
.wa4.open{
    left: 18px;
}
.btn4hwd{
    border-radius: 50%;
    background-color: #3b3b3b;
    width: 11px;
    height: 11px;
    position: relative;
    top: -1px;
    left: 2px;
    cursor: pointer;
    transition: left 0.3s ease;

}
.btn4hwd.open{
    left: 18px;
}
.btn5hwd{
    border-radius: 50%;
    background-color: #3b3b3b;
    width: 11px;
    height: 11px;
    position: relative;
    top: -1px;
    left: 2px;
    cursor: pointer;
    transition: left 0.3s ease;

}
.btn5hwd.open{
    left: 18px;
}
.btn6hwd{
    border-radius: 50%;
    background-color: #3b3b3b;
    width: 11px;
    height: 11px;
    position: relative;
    top: -1px;
    left: 2px;
    cursor: pointer;
    transition: left 0.3s ease;

}
.btn6hwd.open{
    left: 18px;
}
.wa3{
    border-radius: 50%;
    background-color: #3b3b3b;
    width: 11px;
    height: 11px;
    position: relative;
    top: -1px;
    left: 2px;
    cursor: pointer;
    transition: left 0.3s ease;

}
.wa3.open{
    left: 18px;
}
.b10{
    background-color: #00ffff;
}
.smth{
    border-radius: 50%;
    background-color: #3b3b3b;
    width: 11px;
    height: 11px;
    position: relative;
    top: -1px;
    left: 2px;
    cursor: pointer;
    transition: left 0.3s ease;
}
.smth.open{
    left: 18px;
}


#cIndex{
    position: absolute;
    color: #ffffff;
    background-color: #7c7c7c;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 15px;
    opacity: 0.7;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}
#cIndex:hover{
    cursor: pointer;
    opacity: 2;
    background-color: yellow;
    color: #000000;
}
#iForm{
    position: absolute;
    display: none;
    right: 140px;
    top: 150px;
    width: 400px;
    height: 300px;
    background-color: #7c7c7c;
    border: 3px solid white;
}
em{
    font-size: 9px;
    width: 90px;
}
.titleio{
    text-align: center;
    margin: 5px;
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    color: #ffffff;
}
.ih{
    left: 200px;
    top: 53px;
}
.it15{
    left: 207px;
    top: 88px;
}
.it30{
    left: 207px;
    top: 120px;
}
.it45{
    left: 207px;
    top: 150px;  
}
.wrt_t{
    left: 225px;
    top: 50px;
}
.wrt_t15{
    left: 220px;
    top: 88px;
}
.wrt_t30{
    left: 220px;
    top: 120px;
}
.wrt_t45{
    left: 220px;
    top: 150px;
}
.am1{
    left: 50px;
    top: 50px;
}
.am2{
    left: 50px;
    top: 85px;
}
.pm1{
    left: 50px;
    top: 120px;
}
.pm2{
    left: 50px;
    top: 150px;
}
.iam1{
    top: -2px;
    left: -40px;
}
.iam2{
    position: absolute;
    top: -2px;
    left: -43px;
}
.ipm1{
    top: -2px;        
    left: -40px;
}
.ipm2{
    top: -2px;  
    left: -40px;
}
.iam1,.iam2, .ipm1, .ipm2{
    margin: 0 5px 0 10px;
    position: absolute;
}
.infolino{
    position: absolute;
    color: #000000;
}
.hoveri{
    top: 180px;
    left: 10px;
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
}
.wrki{
    width: 20px;
    height: 20px;
    background-color: #e66864;
    top: 210px;
    left: 20px;
}
.commi{
    width: 20px;
    height: 20px;
    background-color:#ffa500;
    top: 240px;
    left: 20px;
}
.brki{
    width: 20px;
    height: 20px;
    background-color:#1c3a18;
    top: 270px;
    left: 20px;
}.fueli{
    width: 20px;
    height: 20px;
    background-color:#61da6b;
    top: 210px;
    left: 130px;
}.othi{
    width: 20px;
    height: 20px;
    background-color:#bcb1d6;
    top: 240px;
    left: 130px;
}.npi{
    width: 20px;
    height: 20px;
    background-color:#00ffff;
    top: 270px;
    left: 130px;
}
.sli{
    width: 20px;
    height: 20px;
    background-image: url(stars.jpg);
    background-size: contain;  
    top: 210px;
    left: 230px;
}
.wrt_w{
    top:212px;
    left: 50px;
}
.wrt_c{
    top:242px;
    left: 50px;
}
.wrt_b{
    top:272px;
    left: 50px;
}
.wrt_f{
    top:212px;
    left: 160px;
}
.wrt_o{
    top:242px;
    left: 160px;
}
.wrt_n{
    top:272px;
    left: 160px;
}
.wrt_s{
    top:212px;
    left: 260px;
}
.clicki{
    bottom: 10px;
    left: 230px;
    font-size: 11.9px;
    font-weight: bold;
    width: 130px;
    text-align: justify;
    color: #ffffff;
}
#time{
    display: block;
    position: absolute;
    background-color: #00000000;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    top: 24px;
    right: 55px;
    width: 50px;
    height: 25px;
    padding: 5px;
    box-sizing: border-box;
    opacity: 0.5;
}
#time:hover{
    opacity: 2;
}

#slot{
    display: none;
    position: absolute;
    width: 300px;
    height: 45px;
    padding: 10px;
    font-size: 20px;
    top:300px;
    left: 200px;
    text-align: center;
    background-color: #68745e;
    color: #ffffff;
    box-sizing: border-box;
}
#workSlot{
    display: none;
    position: absolute;
    width: 300px;
    height: 45px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    top:300px;
    left: 200px;
    background-color: #e66864;
    color: #000000;
    box-sizing: border-box;
}
#fuelSlot{
    display: none;
    position: absolute;
    width: 300px;
    height: 45px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    top:300px;
    left: 200px;
    background-color: #61da6b;
    color: #000000;
    box-sizing: border-box;
}
#breakSlot{
    display: none;
    position: absolute;
    width: 300px;
    height: 45px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    top:300px;
    left: 200px;
    background-color: #0f1f10;
    color: #ffffff;
    box-sizing: border-box;
}
#commuteSlot{
    display: none;
    position: absolute;
    width: 300px;
    height: 45px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    top:300px;
    left: 200px;
    background-color: #ffa500;
    color: #000000;
    box-sizing: border-box;
}
#napSlot{
    display: none;
    position: absolute;
    width: 300px;
    height: 45px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    top:300px;
    left: 200px;
    background-color: #00ffff;
    color: #000000;
    box-sizing: border-box;
}
#sleepSlot{
    display: none;
    position: absolute;
    width: 300px;
    height: 45px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    top:300px;
    left: 200px;
    background-color: #4d21b4;
    background-image: url(stars.jpg);
    color: #ffffff;
    box-sizing: border-box;
}
#otherSlot{
    display: none;
    position: absolute;
    width: 300px;
    height: 45px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    top:300px;
    left: 200px;
    background-color: #bcb1d6;
    color: #ffffff;
    box-sizing: border-box;
}

.barrier{
    width: 685px;
    height: 685px;
    margin: auto;
    background-color: #ff81a7;
    box-sizing: border-box;
    position: relative;
}
#seconds{
    position: absolute;
    color: #ffffff;
    background-color: #000000;
    bottom: 30px;
    left: 30px;
    font-size: 10px;
    display: block;
}
.timesquare{
    width: 705px;
    height: 705px;
    margin: auto;
    padding: 10px;
    background-color: #8d9e7e;
    box-sizing: border-box;
    position: relative;
}
.start{
    font-size: 10px;
    color:#ffffff;
    background-color: #000000;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    position: absolute;
}
.noon{
    font-size: 10px;
    color:#ffffff;
    background-color: #5f5e5e;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    position: absolute;
}
.midpm{
    font-size: 10px;
    color:#ffffff;
    background-color: #5f5e5e;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 25px;
    position: absolute;
}
.am{
    font-size: 10px;
    color:#ffffff;
    background-color: #5f5e5e;
    bottom: 0;
    left: 0;
    width: 25px;
    height: 25px;
    position: absolute;
}
 #night, #eve, #noon, #morning{
    position: absolute;
    display: block;
    height: 0px;
    width: 0px;
}
#morning{
    top: 0;
    background-color: #fffb00;
    height: 10px;
/*     width: 660px;*/    
    left: 25px;
}
#noon{
    width:10px;
/*     height: 660px;*/    
    right: 0;
    top: 25px;
    background-color: #ff7b00;       
}
#eve{
    bottom: 0;
    background-color: #c300ff;    
/*     width: 660px;*/
    left: 25px;    
    transform-origin: right center;

}
#night{
    width:10px;
/*     height: 660px;*/
    left: 0;
    top: 25px;
    background-color: #00027a;    
    transform-origin: center bottom;
} 

.time1{
animation: morning 4s infinite;
width: 650px;
height: 2.5px;
position: absolute;
top: 20px;
left:20px;
background-color: #fffb00;
}
.time2{
animation: noon 4s infinite ;
height: 690px;
width: 2.5px;
position: absolute;
top: 20px;
right:20px;
background-color: #ff6600;
}
.time3{
animation: eve 4s infinite ;
width: 690px;
height: 2.5px;
position: absolute;
bottom: 20px;
left:20px;
background-color: #a200ff;
}
.time4{
animation: nighty 4s infinite;
height: 690px;
width: 2.5px;
position: absolute;
top: 20px;
left:20px;
background-color: #5900ff;
}
@keyframes morning{
    0%{width: 0px;}
    25%{width: 650px;}
    100%{background-color: #00000000;}
}
@keyframes noon{
    0%{height: 0px;}    
    25%{height: 0px; background-color: #ff6600;}
    50%{height: 645px;}
    100%{background-color: #00000000;}

}
@keyframes eve{
    0%{width: 650px; background-color: #00000000;}
    50%{width: 650px;}
    75%{width: 0px;}
    100%{width: 0px;}

}
@keyframes nighty{
    0%{height: 645px; background-color: #00000000;}
    50%{height: 645px;}
    75%{height: 645px;}
    100%{height: 0px;}
}

#workOnAm{
    position: absolute;
    width: 315px;
    height: 20px;
    top: 10px;
    right: 30px;
    background-color: #ee3a1ac2;
    display: none;
}
#breakAm{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 190px;
    background-color: #2a7421e8;
    display: none;
}
#workOnPm{
    position: absolute;
    width:20px ;
    height: 95px;
    top: 140px;
    right: 10px;
    background-color: #ee3a1ac2;
    display: none;
}
#workOnPmFive{
    position: absolute;
    width:20px ;
    height: 205px;
    top: 140px;
    right: 10px;
    background-color: #ee3a1ac2;
    display: none;
}
#workOnPmSix{
    position: absolute;
    width:20px ;
    height: 315px;
    top: 140px;
    right: 10px;
    background-color: #ee3a1ac2;
    display: none;
}
#breakPm{
    position: absolute;
    width:20px ;
    height: 20px;
    top: 275px;
    right: 10px;
    background-color: #2a7421e8;
    display: none;
}
#breakfast{
    position: absolute;
    width: 70px;
    height:20px ;
    top: 10px;
    left: 55px;
    background-color: #8ffc81be;
    display: none;
}
#lunch{
    position: absolute;
    width:20px ;
    height: 95px;
    top: 30px;
    right: 10px;
    background-color: #8ffc81be;
    display: none;
}
#lunchC{
    position: absolute;
    width:20px ;
    height: 105px;
    top: 105px;
    right: 10px;
    background-color: #8ffc81be;
    display: none;
}
#snack{
    position: absolute;
    width:20px ;
    height: 50px;
    top: 600px;
    right: 10px;
    background-color: #1b6611be;
    display: none;
}
#lateDinner{
    position: absolute;
    height:20px ;
    width: 95px;
    bottom: 10px;
    right: 140px;
    background-color: #8ffc81be;
    display: none;
}
#nap{
    position: absolute;
    width: 95px;
    height:20px ;
    bottom: 10px;
    right: 30px;
    background-color: #35c6ffbe;
    display: none;
}
#sensoryRestThree{
    position: absolute;
    height: 20px;
    width:20px ;
    top: 215px;
    right: 10px;
    background-color: #35c6ffbe;
    display: none;
}
#sensoryRestFour{
    position: absolute;
    height: 20px;
    width:20px ;
    top: 325px;
    right: 10px;
    background-color: #35c6ffbe;
    display: none;
}
#sensoryRestFive{
    position: absolute;
    height: 20px;
    width:20px ;
    top: 435px;
    right: 10px;
    background-color: #35c6ffbe;
    display: none;
}
#sensoryRestSix{
    position: absolute;
    height: 20px;
    width:20px ;
    top: 545px;
    right: 10px;
    background-color: #35c6ffbe;
    display: none;
}
#lakeOrRiver4{
    position: absolute;
    height: 355px;
    width:20px ;
    top: 320px;
    right: 10px;
    background-color: #019999ce;
    display: none;
}
#lakeOrRiver5{
    position: absolute;
    height: 205px;
    width:20px ;
    top: 470px;
    right: 10px;
    background-color: #019999ce;
    display: none;
}
#lakeOrRiver6{
    position: absolute;
    height: 95px;
    width:20px;
    top: 580px;
    right: 10px;
    background-color: #019999ce;
    display: none;
}
#errands4{
    position: absolute;
    height: 220px;
    width:20px ;
    top: 300px;
    right: 10px;
    background-color: #ff35a4be;
    display: none;
}
#errands5{
    position: absolute;
    height: 220px;
    width:20px ;
    top: 410px;
    right: 10px;
    background-color: #ff35a4be;
    display: none;
}
#errands6{
    position: absolute;
    height: 155px;
    width:20px ;
    top: 520px;
    right: 10px;
    background-color: #ff35a4be;
    display: none;
}
#commute{
    position: absolute;
    width: 45px;
    height:20px ;
    top: 10px;
    left: 300px;
    background-color: #e98629be;
    display: none;
}
#commuteToE{
    position: absolute;
    width:20px ;
    height: 45px;
    top: 250px;
    right:10px;
    background-color: #e98629be;
    display: none;
}
#commuteE4{
    position: absolute;
    width:20px ;
    height: 45px;
    top: 520px;
    right:10px;
    background-color: #e98629be;
    display: none;
}
#commuteE5{
    position: absolute;
    width:20px ;
    height: 45px;
    top: 630px;
    right:10px;
    background-color: #e98629be;
    display: none;
}
#commuteE6{
    position: absolute;
    height:20px ;
    width: 45px;
    top: 675px;
    right:30px;
    background-color: #e98629be;
    display: none;
}
#commuteToW{
    position: absolute;
    width:20px ;
    height: 45px;
    bottom: 410px;
    right:10px;
    background-color: #e98629be;
    display: none;
}
#commuteW{
    position: absolute;
    height:20px ;
    width: 45px;
    bottom: 10px;
    right:30px;
    background-color: #e98629be;
    display: none;
}
#commuteThree{
    position: absolute;
    width:20px ;
    height: 45px;
    top: 30px;
    right:10px;
    background-color: #e98629be;
    display: none;
}
#commuteFour{
    position: absolute;
    width:20px ;
    height: 45px;
    top: 250px;
    right:10px;
    background-color: #e98629be;
    display: none;
}
#commuteFive{
    position: absolute;
    width:20px ;
    height: 45px;
    top: 360px;
    right:10px;
    background-color: #e98629be;
    display: none;
}
#commuteSix{
    position: absolute;
    width:20px ;
    height: 45px;
    top: 470px;
    right:10px;
    background-color: #e98629be;
    display: none;
}

#exercise{
    position: absolute;
    display: none;
    background-color: #002e83;
    width: 20px;
    height: 20px;
    top: 10px;
    left: 140px;
}
#meditateA{
    position: absolute;
    display: none;
    background-color: #7e61ff;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 385px;
}
#journalA{
    position: absolute;
    display: none;
    background-color: #386dff;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 360px;
}
#meditateB{
    position: absolute;
    display: none;
    background-color: #7e61ff;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 495px;
}
#journalB{
    position: absolute;
    display: none;
    background-color: #386dff;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 470px;
}
#meditateC{
    position: absolute;
    display: none;
    background-color: #7e61ff;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 605px;
}
#journalC{
    position: absolute;
    display: none;
    background-color: #386dff;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 580px;
}
 .top{
    background-color:#f4faa4 ;
 }
 .left{
    background-color:#4a32a1 ;
    color: white;

 } 
 .right{
    background-color:#fcdb81 ;
 }  
 .bottom{
    background-color:#c76fe2 ;
    color: white;
 }

 .commute:hover{
    background-color: #ffa500;
    cursor: pointer;
 }
.work:hover{    
    background-color:#dd6550;    cursor: pointer;

}
.fuel:hover{    
    background-color:#8ffc81 ;    cursor: pointer;

}
.break:hover{
    background-color: #1c3a18;    cursor: pointer;

}
.nap:hover{
    background-color:#00ffff ;    cursor: pointer;

}
.other:hover{
    animation: other 4s forwards;background-color: gainsboro;    cursor: pointer;

}
.night:hover{
    animation: night 0.5s infinite;    cursor: pointer;

}
@keyframes night{
0%{
    background-image: url(stars.jpg);
    background-size: cover;
}
25%{
    background-image: url(stars.jpg);
    background-size: contain;
}
50%{
    background-image: url(stars.jpg);
    background-size: cover;
}
75%{
    background-image: url(stars.jpg);
    background-size: contain;
}
100%{
    background-image: url(stars.jpg);
    background-size: cover;
}
}



.container {
    display: none;
    margin: auto;
    width: 300px;
    height: 200px;
    background-color: #f4faa4 ;
    padding: 0 0 0 10px;
    position: absolute;
    right: 200px;
    top: 200px;
}
.container label{   
    color: #000000;
    margin: 10px 0 0 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container input[type=text] {
    width: 250px;
    height: 40px;
    padding: 20px;
    border: none;
    background: #000000;
    margin: 5px 0 0 0;
    color:white;
}
.container input[type=checkbox]{
    margin: 10px 0 0 2px ;
}
.container input[type=text]:focus {
  background-color: #000000;
  outline: none;
}
.btn:hover{
    opacity: 1;
    background-color: red;
    color: white;
    cursor: pointer;
    margin: 0;
}
.btn{
    float: right;
}



.line{
    height: 20px;
    width: 687px;
    margin: 0;
    padding: 0;
}
.last{
    width: 687px;
}
button{
    height: 20px;
    width: 20px;
    background-color: #00000000;
    border: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nr{
    font-size: 10px;
    height: 20px;
    width: 15px;
    transform: translateY(-7px);
    background-color: black;
    color: white;
 }
.t{
    font-size: 15px;
    height: 20px;
    width: 5px;
    transform: translateY(-5.5px);
    background-color: black;
    color: white;
}
.mm{
    height: 5px;
}
.mn{
    height: 15px;
}
.edge{
    width: 20px;
}
 .left.b.nr{
    transform: rotate(0deg);
    transform: translateY(-7px);
}.left.b.t{
    transform: rotate(0deg);
    transform: translateY(-5.5px);
}
.right.t, .right.nr{
    transform: rotate(90deg);
}
.left.nr,.left.t{
    transform: rotate(-90deg);
}
.right.t{
    transform-origin: 45% 10%;
}
.left.t{
    transform-origin: 50% 15%;
}
.left.nr{
    transform-origin: 45% 35%;
}
.right.nr{
    transform-origin: 40% 30%;
}
.right{
    float: right;
}
.right.space{
    transform: translateX(3px);
}
.space1{
    .right.space{
        transform: translateX(-2px);
    }
}
.space5,.space9,.space13,.space21,.space17{
    .right.space{
        transform: translateX(13px);
    }
}